---
layout: archive
title: "Research"
permalink: /publications/
author_profile: true
---

<p>
  My research primarily focuses on financial market microstructure, information and economics, and decentralized finance.
</p>

<h2><strong>Published and Accepted Papers</strong></h2>
<ul>
      <li><a href="https://www.dropbox.com/scl/fi/ql9qvb23qby48bq6lygtc/FinalDraft.pdf?rlkey=0er1ua6x7ee16tuhkj6kzb4ew&st=p6st60qi&dl=0">The Crowding-in Effect of Public Information on Private Information Acquisition</a>
        <br>
        - Forthcoming at <span style="color: red;">Journal of Financial and Quantitative Analysis</span>
      </li>
</ul>

<h2><strong>Working Papers</strong></h2>
<ul>
  {% for post in site.publications reversed %}
    {% if post.category == 'working' %}
      <li><a href="{{ post.paperurl }}">{{ post.title }}</a></li>
    {% endif %}
  {% endfor %}
</ul>

<h2><strong>Work in Progress</strong></h2>
<ul>
  {% for post in site.publications reversed %}
    {% if post.category == 'progress' %}
      <li><a href="{{ post.paperurl }}">{{ post.title }}</a></li>
    {% endif %}
  {% endfor %}
</ul>



